@import 'tailwindcss';

.table {
    margin-left: 20px;
    border: 1px solid #808080;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #808080;
}

.logo-img {
    width: 200px;
    height: auto;
}

.menu-index > li {
    margin: 40px 0;
}
